@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Text", serif;
  color: $black;
  font-size: 20px;
  background: $darkWhite;
}

.container {
  max-width: 1196px;
  margin: 0 auto;
  width: 100%;
}

h1,
.h1 {
  font-size: 32px;
}

h2,
.h2 {
  font-size: 32px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a,
Link {
  text-decoration: none;
  color: $gray;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 600;
}

.logo {
  color: $blue;
  text-transform: uppercase;
}

.button, .lightButton {
  background-color: $blue;
  padding: 10px 20px;
  font-size: $mediumSize;
  border-radius: 4px;
  color: $white;
  font-weight: 500;
  transition: background-color 0.3s;
}

.lightButton {
  background-color: $lightBlue;
}

.button:hover, .lightButton:hover {
  background-color: $gray;
}