$white: #ffffff;
$black: #1A202C;
$lightBlue: #54A6FF;
$blue: #3563E9;
$lightGray: #90A3BF;
$gray: rgba(19, 19, 19, 0.6); 
$darkGray: #596780;
$darkWhite: #F6F7F9;

$verySmallSize: 12px;
$smallSize: 14px;
$mediumSize: 16px;